html {
	font-size: 100%; 
}
body {
	margin-right:20%;
	margin-left:20%;
	padding: 10px 20px; 
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; 
	font-size: .8em; 
	line-height: 1.25; 
	color: red;
	background-size: 51%;
	background-image: url('background-copy.png');
	background-repeat: no-repeat;
	background-position: center right 33%;
}
IMG.kh-title{
	margin-left: 21%;
}
IMG.eubision{
	height: 70px;
	width: 350px;
	margin-left: 44%;
}
#left{
	margin-top: 10%;
	position: absolute;
	background-position: left;
}
#content{
	margin-left: 25%;
	margin-top: 30px;
	font-size: 1.5em;
}
#dlcontent{
	margin-top: 150px;
	font-size: 2em;
	margin-left: 20%;
}
#dl{
	margin-left: 20%;
}
ul, ol {
    margin-top: 10px;
	font-size: 1.25em;
	padding: 10; 
	background-image: url('.jpg');
	background-repeat:no-repeat;
}
ul {
	list-style: square;
}


