html {
	font-size: 100%; 
}

body {

    background-image: url(".jpg");
	margin-right:200px;
	margin-left:200px;
	padding: 10px 20px; /* Note -> 2 */
	font-family: Verdana, "Bitstream Vera Sans", "Lucida Grande", sans-serif; /* 3 */
	font-size: .8em; /* -> 4 */
	line-height: 1.25; /* -> 5 */
	color: black;
	/*background: white; */
}


/* Titres */
h1, h2, h3, h4, h5, h6 {
	margin: 1em 0 .5em 0; /* -> 6 */
}
h1, h2 {
	margin-top: 50px;
    text-align: center; 
    margin-left: 50px;
	font-family: Georgia, "Bitstream Vera Serif", Norasi, serif;
	font-weight: normal; /* -> 7 */
}
IMG.eubision{
	height: 70px;
	width: 350px;
	margin-left: 350px;
}
#left{
	text-align:left;
	margin-left: 0px;
	position: absolute;
}
#content{
	margin-left: 200px;
	margin-top: 30px;
	font-size: 1.5em;
}
#dlcontent{
	margin-top: 150px;
	font-size: 2em;
	margin-left: 200px;
}

#dl{
	margin-left: 130px;
}
.h1 {
	font-size: 3em; /* -> 8 */
	font-style: italic;
	background-image: url('.png');
	background-repeat:no-repeat;
	background-position:center top;
	
}
#left{
	margin-top: 25px;
}
p:hover{

}
h1:hover{
 
	background-repeat:no-repeat;
	background-position:center top;
}
h2:hover{
 
}
h2 {font-size: 4em;
   text-decoration:underline;
   /*background-color: rgba(150, 0, 0, 0.6)*/;
   text-align:center;
   }


/* Listes */
ul, ol {
    margin-top: 10px;
	font-size: 1.25em;
	padding: 10; 
	background-image: url('.jpg');
	background-repeat:no-repeat;
	

}
ul {
	list-style: square;
}


